
@import url('https://fonts.googleapis.com/css?family=Google+Sans');
:root {
  font-family: 'Google Sans', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 115, 115);
    animation: slide-in 1s ease-in-out;
}
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
        opacity: 100;
      transform: translateX(0);
    }
  }

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    animation: slide-in 1.8s ease-in-out;
}

.header li {
    float: left;
}

.header li a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
}

.header li a:hover {
    background-color: white;
}

.header li.active a {
  background-color:rgb(224, 224, 224);
  transform: scale(1.1);
}
